header {
    display: flexbox;
    gap: 1em;
    align-items: baseline;
    margin: auto;
}

input {
    display: block; 
}

time {
    display: block;
}

em {
    display: block;
    color: #ccc; 
    font-style: italic
}


html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  /* justify-content: center; Center horizontally */
  /* align-items: center; Center vertically */
}
    
body {
  font: 100%/1.5 system-ui, sans-serif;
  /* display: flex;
  flex-flow: column; */
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;

    
}



.legend {
    /* display: flex;
    margin-block: auto; */

    gap: 20px;
    align-items: center;
    margin: auto;
    float: left;

    margin-top: 20px;
}

/* Legend text that says LEGEND */
.legend > label {
    font-size: 16px;
    font-weight: bold;
    color: #ccc;

    display: flex;
}

/* Swatches */
.legend > div {
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
        in oklch,
        var(--color-departures) calc(100% * var(--departure-ratio)),
        var(--color-arrivals)
        );

    display: flex;
    gap: 5px;
}

/* also Swatches */
.legend > div::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:color-mix(
            in oklch,
            var(--color-departures) calc(100% * var(--departure-ratio)),
            var(--color-arrivals)
            );;
}


